@font-face {
  font-family: 'Volgarie'; 
  src: url('fonts/volgarie/Volgarie.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Volgarie','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 10%,
    rgba(255, 255, 255, 0) 90%,
    rgba(255, 255, 255, 0.8) 100%
  );
  color: #333;

}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0 0 18px rgba(255, 255, 255, 0.8);
}
.section-left {
  position: relative;
  padding: 20px;
  min-height: 300px;
  color: white; 
  overflow: hidden; 
}

.section-left video {
  position: absolute;
  right: -30%;
  width: auto;
  height: 60%;
  object-fit: cover;
}
.section-right-top {
  background-color: #e9ecef; 
}
.section-right-bottom {
  background-color: #dee2e6; 
}